
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{margin:0;
font-family:"Roboto",sans-serif;scroll-behavior:smooth;}
.header{background-color:#434242;}
.container{
margin:auto;
max-width:1100px;}
.header-container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    }
.link{
color:#f8f6ee;
font-size:25px;
text-decoration:none;
margin-right:20px;
}
body{
background-color:#f8f6ee}
.container-main{
display:flex;
justify-content:space-between;}
.main-text{
margin-top:150px;
}
.main-img{
margin-top:50px;
height:650px;}
.title{
color:#222222;
font-size:70px;
font-family:"Russo One",sans-serif;}
.subtitile{
color:#434242;
font-size:35px;}
.subtitile b{
color:#22a39f;
}
.cards{
display:flex;
justify-content:space-evenly;
margin-top:50px;
}
.card{
border:1px solid #222222;
border-radius:20px;
padding:20px 30px;
width:600px;
height:750px;
text-align:center;
}
.card p{
font-size:24px;
margin-top:20px;
}
.card img{
transition-duration:0.2s;
}
.card img:hover{
transform: scale(1.1, 1.1);
}
.navigation a:hover{
color:#111199;
}
.container-contacs{
height:700px;
margin-left:400px;
}
.container-contacs h1{
margin-top:100px;
margin-bottom:50px;}
.links{
margin-top:50px;
width:500px;
display:flex;
justify-content:space-between;
}
.container-contacs img{
height:100px;
width:100px;
}
.footer{
background-color:#434242;
display:flex;
justify-content:center;
align-items:center;
color:#f8f6ee;
height:100px;
font-size:24px;
}


